@charset "UTF-8";

/* god theme: Call me to include god in your SASS projects.*/

body > h1,
main > h1 {
  font-size: 400%;
}

body > h2,
main > h2 {
  font-size: 266.7%;
}

body > h3,
main > h3 {
  font-size: 186.7%;
}

body > h4,
main > h4 {
  font-size: 133.3%;
}

body > h5,
main > h5 {
  font-size: 106.7%;
}

body > h6,
main > h6 {
  font-size: 80%;
  background: #b3b3ff;
  border: 0;
  color: #00f;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > p,
body > ul,
body > ol,
body > dl,
body > table,
main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > p,
main > ul,
main > ol,
main > dl,
main > table {
  display: block;
  float: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: 33% !important;
  margin-right: 33% !important;
  padding: 12px 1%;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > table,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > table {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 23% !important;
    margin-right: 23% !important;
  }
}

@media screen and (max-width: 600px) {
  body > h1,
  body > h2,
  body > h3,
  body > h4,
  body > h5,
  body > p,
  body > ul,
  body > ol,
  body > dl,
  body > table,
  main > h1,
  main > h2,
  main > h3,
  main > h4,
  main > h5,
  main > p,
  main > ul,
  main > ol,
  main > dl,
  main > table {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: 12px !important;
    margin-right: 12px !important;
    padding: 3px;
  }
}

body > blockquote,
body > summary,
main > blockquote,
main > summary {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 32% !important;
  break-before: always !important;
  /* give way on right */
  clear: right;
  float: right;
  margin-left: 1% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote,
  body > summary,
  main > blockquote,
  main > summary {
    width: 38% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > summary,
  main > blockquote,
  main > summary {
    width: 28% !important;
  }
}

body > nav,
body > aside,
body > h6,
body > details,
main > nav,
main > aside,
main > h6,
main > details {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 12px 1%;
  width: 32% !important;
  clear: left;
  float: left;
  margin-right: 1% !important;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > nav,
  body > aside,
  body > h6,
  body > details,
  main > nav,
  main > aside,
  main > h6,
  main > details {
    width: 38% !important;
  }
}

@media screen and (min-width: 1201px) {
  body > nav,
  body > aside,
  body > h6,
  body > details,
  main > nav,
  main > aside,
  main > h6,
  main > details {
    width: 28% !important;
  }
}

@media screen and (max-width: 600px) {
  body > blockquote,
  body > summary,
  body > nav,
  body > aside,
  body > h6,
  body > details,
  main > blockquote,
  main > summary,
  main > nav,
  main > aside,
  main > h6,
  main > details {
    box-sizing: border-box;
    display: inline-block;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 12px 1%;
    width: 100% !important;
    display: block !important;
    float: none !important;
    text-align: left !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  body > blockquote,
  body > summary,
  body > nav,
  body > aside,
  body > h6,
  body > details,
  main > blockquote,
  main > summary,
  main > nav,
  main > aside,
  main > h6,
  main > details {
    margin-bottom: 15.6px !important;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  body > blockquote,
  body > summary,
  body > nav,
  body > aside,
  body > h6,
  body > details,
  main > blockquote,
  main > summary,
  main > nav,
  main > aside,
  main > h6,
  main > details {
    margin-bottom: 19.2px !important;
  }
}

@media screen and (min-width: 1201px) {
  body > blockquote,
  body > summary,
  body > nav,
  body > aside,
  body > h6,
  body > details,
  main > blockquote,
  main > summary,
  main > nav,
  main > aside,
  main > h6,
  main > details {
    margin-bottom: 22.8px !important;
  }
}

body > ol > li,
main > ol > li {
  margin-left: 12px !important;
}

body > ol > li > *,
main > ol > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ol > li,
  main > ol > li {
    list-style: inside;
  }
}

body > ul > li,
main > ul > li {
  margin-left: 12px !important;
}

body > ul > li > *,
main > ul > li > * {
  display: inline;
}

@media screen and (max-width: 900px) {
  body > ul > li,
  main > ul > li {
    list-style: inside;
  }
}

body {
  font-family: "Amiri",sans-serif;
  padding: 0 0  !important;
}

body >,
main > {
  padding: 0 0  !important;
}

body > h1,
body > h2,
body > h3,
body > h4,
body > h5,
body > h6,
main > h1,
main > h2,
main > h3,
main > h4,
main > h5,
main > h6 {
  font-family: "Montserrat",sans-serif;
}

body > blockquote,
main > blockquote {
  background: #b3b3ff none;
  color: #000;
  padding-top: 12px;
  quotes: "“" "”" "‘" "’";
  padding-top: 66.66667px !important;
  padding-bottom: 125px !important;
  background: none;
}

body > blockquote b,
body > blockquote strong,
main > blockquote b,
main > blockquote strong {
  display: block;
  margin-top: 12px;
  padding-right: 1%;
}

body > details,
main > details {
  background: #b3b3ff;
  border: tan 1px solid;
  color: #000;
  padding: 0;
}

body > details summary,
main > details summary {
  background: tan;
  border: 0;
  color: #fff;
  font-family: "Montserrat",sans-serif;
  cursor: pointer;
}

body > details > *,
main > details > * {
  padding: 3px 12px;
}

body > dl,
main > dl {
  padding-bottom: 12px;
  padding-top: 12px;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
}

body > dl > dt,
main > dl > dt {
  font: 800 120% "Montserrat", sans-serif;
  padding-top: 12px;
}

body > dl > dd,
main > dl > dd {
  margin-left: 0;
  padding-bottom: 12px;
}

body > figure,
main > figure {
  border: 1px #b3b3ff solid;
  box-sizing: border-box;
  padding: 1% 1%  !important;
}

body > figure img,
main > figure img {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

body > figure figcaption,
main > figure figcaption {
  color: #00f;
  font-family: "Montserrat",sans-serif;
  margin-top: 12px;
}

@media screen and (max-width: 600px) {
  body > figure,
  main > figure {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

body > form label,
main > form label {
  margin-top: 12px;
}

body > form legend,
main > form legend {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

body > form label,
body > form legend,
main > form label,
main > form legend {
  color: #00f;
  font-family: "Montserrat",sans-serif;
}

body > form textarea,
main > form textarea {
  width: 100%;
}

body > form input[type='checkbox'],
body > form input[type='radio'],
main > form input[type='checkbox'],
main > form input[type='radio'] {
  margin-right: 3px;
}

body > form input[type='checkbox'] + label,
body > form input[type='radio'] + label,
main > form input[type='checkbox'] + label,
main > form input[type='radio'] + label {
  color: #00f;
  font-family: "Montserrat",sans-serif;
  display: inline-block;
  margin-right: 12px;
  page-break-before: avoid;
}

body > form fieldset,
main > form fieldset {
  border: 1px #b3b3ff solid;
  margin-top: 12px;
  padding: 0 12px;
}

body > form fieldset label,
main > form fieldset label {
  display: block;
}

body > form fieldset button,
body > form fieldset input,
body > form fieldset select,
body > form fieldset textarea,
main > form fieldset button,
main > form fieldset input,
main > form fieldset select,
main > form fieldset textarea {
  box-sizing: border-box;
  margin-bottom: 12px;
}

body > form fieldset input[type='email'],
body > form fieldset input[type='number'],
body > form fieldset input[type='password'],
body > form fieldset input[type='search'],
body > form fieldset input[type='tel'],
body > form fieldset input[type='text'],
body > form fieldset input[type='url'],
body > form fieldset select,
body > form fieldset textarea,
main > form fieldset input[type='email'],
main > form fieldset input[type='number'],
main > form fieldset input[type='password'],
main > form fieldset input[type='search'],
main > form fieldset input[type='tel'],
main > form fieldset input[type='text'],
main > form fieldset input[type='url'],
main > form fieldset select,
main > form fieldset textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

body > form fieldset input:not([type]),
main > form fieldset input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

body > form fieldset input[type='color'],
body > form fieldset input[type='range'],
main > form fieldset input[type='color'],
main > form fieldset input[type='range'] {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}

body > form fieldset input[type='date'],
body > form fieldset input[type='time'],
body > form fieldset input[type='datetime'],
body > form fieldset input[type='datetime-local'],
body > form fieldset input[type='month'],
body > form fieldset input[type='week'],
main > form fieldset input[type='date'],
main > form fieldset input[type='time'],
main > form fieldset input[type='datetime'],
main > form fieldset input[type='datetime-local'],
main > form fieldset input[type='month'],
main > form fieldset input[type='week'] {
  margin-bottom: 12px;
}

body > form fieldset button,
body > form fieldset input[type='submit'],
body > form fieldset input[type='reset'],
main > form fieldset button,
main > form fieldset input[type='submit'],
main > form fieldset input[type='reset'] {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  body > form,
  main > form {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

body > header,
main > header {
  font-size: 120%;
  padding: 1%;
  text-align: center;
}

body > header h1,
body > header h2,
body > header h3,
body > header h4,
body > header h5,
body > header h6,
main > header h1,
main > header h2,
main > header h3,
main > header h4,
main > header h5,
main > header h6 {
  margin-bottom: 12px;
  margin-top: 12px;
}

body > hr,
main > hr {
  border: 1px #b3b3ff solid;
  margin-bottom: 12px;
  margin-top: 12px;
}

body > img,
main > img {
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 34%;
}

@media screen and (max-width: 900px) {
  body > img,
  main > img {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

body > menu,
main > menu {
  box-sizing: border-box;
}

body > menu *,
main > menu * {
  box-sizing: border-box;
}

body > menu:after,
main > menu:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

body > menu > a,
main > menu > a {
  text-decoration: none;
}

body > menu > label,
main > menu > label {
  font-weight: bold;
}

body > menu > a,
body > menu > label,
main > menu > a,
main > menu > label {
  cursor: pointer;
  display: block;
  padding: 6px;
  white-space: nowrap;
}

body > menu > a img,
body > menu > label img,
main > menu > a img,
main > menu > label img {
  height: 32px;
  width: auto;
}

body > menu menu,
body > menu nav,
main > menu menu,
main > menu nav {
  margin: 0;
  padding: 0;
}

body > menu menu > nav menu nav,
main > menu menu > nav menu nav {
  padding-left: 6px;
}

body > menu menu > nav,
main > menu menu > nav {
  background: #fff;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

body > menu menu:hover > nav,
main > menu menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

body > menu > a,
body > menu > menu,
main > menu > a,
main > menu > menu {
  float: left;
}

body > menu > menu > nav,
main > menu > menu > nav {
  position: absolute;
}

body > nav,
main > nav {
  box-sizing: border-box;
  background: #b3b3ff;
  border: 0;
  color: #00f;
  top: 0 !important;
  position: sticky;
  padding-bottom: 1% !important;
}

body > nav *,
main > nav * {
  box-sizing: border-box;
}

body > nav:after,
main > nav:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

body > nav > a,
main > nav > a {
  background: #b3b3ff;
  border: 0;
  color: #00f;
  border-bottom: 0 solid #00f;
  display: block;
  padding: 12px 12px  !important;
  text-decoration: none;
}

body > nav > label,
main > nav > label {
  font-weight: bold;
}

body > nav > a,
body > nav > label,
main > nav > a,
main > nav > label {
  cursor: pointer;
  display: block;
  white-space: nowrap;
}

body > nav menu,
body > nav nav,
main > nav menu,
main > nav nav {
  margin: 0;
  padding: 0;
}

body > nav menu > nav,
main > nav menu > nav {
  background: #fff;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

body > nav menu:hover > nav,
main > nav menu:hover > nav {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

body > nav a,
main > nav a {
  display: block;
}

body > pre,
main > pre {
  background: #b3b3ff;
  border: 0;
  color: #000;
  overflow-x: scroll;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  white-space: pre;
  word-break: keep-all;
}

@media screen and (max-width: 600px) {
  body > pre,
  main > pre {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98% !important;
  }
}

body > table,
main > table {
  width: 34%;
  border-collapse: collapse;
  display: table !important;
  text-align: left;
}

body > table td,
body > table th,
main > table td,
main > table th {
  padding: 12px;
}

body > table > thead th,
body > table > tfoot th,
body > table > tbody th,
main > table > thead th,
main > table > tfoot th,
main > table > tbody th {
  color: #00f;
  font-family: "Montserrat",sans-serif;
  font-weight: 800;
}

body > table > thead th,
main > table > thead th {
  border-bottom: 1px solid #b3b3ff;
}

body > table > tfoot th,
main > table > tfoot th {
  border-top: 1px solid #b3b3ff;
  text-align: right;
}

body > table > tbody td,
body > table > tbody th,
main > table > tbody td,
main > table > tbody th {
  border-bottom: 1px solid #00f;
}

@media screen and (max-width: 600px) {
  body > table,
  main > table {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 98%;
  }
}

a {
  text-decoration: none;
}

input[type='file'],
button {
  background: #fff;
  color: #00f;
  border-radius: 5px;
  border: 1px #b3b3ff solid;
  cursor: pointer;
  display: inline-block;
  font-size: 80%;
  padding: 3px 12px;
  text-decoration: none;
}

input[type='file'] > img,
button > img {
  max-height: 88px;
  width: auto;
}

input[type='file']:hover,
input[type='file'].selected,
input[type='file'].active,
button:hover,
button.selected,
button.active {
  background: #00f;
  border: 1px #b3b3ff solid;
  color: #fff;
}

input[type='file']:disabled,
button:disabled {
  background: #00f;
  color: #fff;
  border: 0;
  cursor: not-allowed;
}

code {
  background: rgba(179, 179, 255, 0.3);
  border: 0;
  color: #000;
  padding: 0 3px;
  word-break: keep-all;
}

pre > code {
  background: inherit;
  border: 0;
  color: inherit;
  overflow-x: scroll;
  white-space: pre;
}

kbd {
  background: #00f;
  border: 0;
  color: #fff;
  border-radius: 6px;
  padding: 3px 12px;
}

body > dl dt,
main > dl dt {
  background: #b3b3ff;
  flex-basis: 100%;
  font-size: 120%;
  font-weight: 400;
  padding: 12px;
}

body > dl dd,
main > dl dd {
  margin: 0;
  flex-basis: 100%;
  padding: 12px;
}

body > table > thead td:nth-child(1),
body > table > tfoot td:nth-child(1),
main > table > thead td:nth-child(1),
main > table > tfoot td:nth-child(1) {
  min-width: 15%;
  width: 15%;
}

body > table > thead td,
body > table > tfoot td,
main > table > thead td,
main > table > tfoot td {
  min-width: 15%;
  max-width: 70%;
}

body > table > thead th,
body > table > tfoot th,
main > table > thead th,
main > table > tfoot th {
  border-bottom: 2px solid #00f;
  font-size: 120%;
}

body > table > tbody,
main > table > tbody {
  border: 3px solid #00f;
}

body > table > tbody tr:hover > th,
body > table > tbody tr:hover > td,
main > table > tbody tr:hover > th,
main > table > tbody tr:hover > td {
  background: #b3b3ff;
}

body > table > tfoot td,
main > table > tfoot td {
  padding: 10px 12px;
  text-align: right;
}

body > blockquote:before,
main > blockquote:before {
  content: open-quote;
  color: #00f;
  display: inline;
  font-size: 200px;
  height: 0;
  left: -12px;
  line-height: 0;
  position: relative;
  top: 66.66667px;
}

body > blockquote::after,
main > blockquote::after {
  content: close-quote;
  color: #00f;
  display: inline;
  float: right;
  font-size: 200px;
  height: 0;
  line-height: 0;
  position: relative;
  right: 12px;
  top: 125px;
}

body > nav > a:last-child,
main > nav > a:last-child {
  border-bottom: 0;
}

body > nav > a:hover,
main > nav > a:hover {
  background: tan;
  border: 0;
  color: #b3b3ff;
}

body > nav > a[active],
main > nav > a[active] {
  background: #00f;
  border: 0;
  color: #b3b3ff;
}

@media (max-width: 900px) {
  body > nav,
  main > nav {
    top: 20 !important;
  }
}