dl {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;

  dt {
    background: $god-blushed;
    flex-basis: 100%;
    font-size: $god-spoke;
    font-weight: 400;
    padding: $personal-space;
  }

  dd {
    margin: 0;
    flex-basis: 100%;
    padding: $personal-space;
  }
}
