@import "settings";

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  padding-top: $quote-size / 3 !important;
  padding-bottom: $quote-size / 1.6 !important;
  background: none;

  &:before {
    content: open-quote;
    color: $god-color;
    display: inline;
    font-size: $quote-size;
    height: 0;
    left: $personal-space * -1;
    line-height: 0;
    position: relative;
    top: $quote-size / 3;
  }

  &::after {
    content: close-quote;
    color: $god-color;
    display: inline;
    float: right;
    font-size: $quote-size;
    height: 0;
    line-height: 0;
    position: relative;
    right: $personal-space;
    top: $quote-size / 1.6;
  }
}
