table {
  border-collapse: collapse;
  display: table !important;
  text-align: left;

  td,
  th {
    padding: $personal-space;
  }

  > thead,
  > tfoot {
    td:nth-child(1) {
      min-width: 15%;
      width: 15%;
    }

    td {
      min-width: 15%;
      max-width: 70%;
    }

    th {
      border-bottom: 2px solid $god-color;
      font-size: $god-spoke;
    }
  }

  > tbody {
    border: 3px solid $god-color;

    td,
    th {
      border-bottom: 1px solid $god-color;
    }

    tr:hover > th,
    tr:hover > td {
      background: $god-blushed;
    }
  }

  > tfoot {
    td {
      padding: 10px $personal-space;
      text-align: right;
    }
  }
}
