nav {
  @include colorize_god($god-blushed, $god-color);
  top: 0 !important;
  position: sticky;
  padding-bottom: $god-space !important;

  > a {
    @include colorize_god($god-blushed, $god-color);
    border-bottom: $god-color solid 0.5px;
    display: block;
    padding: $personal-space !important;
    text-decoration: none;
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      @include colorize_god($hell-color, $god-blushed);
    }

    &[active] {
      @include colorize_god($god-color, $god-blushed);
    }
  }

  @media (max-width: $god-cosy) {
    top: 20 !important;
  }
}
